# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Prevent git from converting the line ending of shell files. These don't run under Windows anyways.
*.sh text eol=lf